*{
  margin:0;
  padding:0;
}
.navbar{
  display:flex;
}

.nav-list{
  width:50%;
  background-color:red;
}
.nav-list li{
}
.nav-list li a{
}
.rightNav{
  background-color:blue;
   width:50%;
  text-align: right;
}
